In [ ]:
a = input("어떤 과일 찾으세요?")
b = input("몇 개 드릴 까요?")
msg = "주문하신 과일은 %s %s개 입니다"
print(msg % (a,b))

In [5]:
#인덱싱, 슬라이싱

a = "반갑습니다"
a[0:2]
a[4]

'다'

In [9]:
#메타캐릭터
str1 = "줄 \n 변경합니다"
print(str1)

줄
 변경합니다

In [10]:
str2 = "\t 8칸 들여쓰기"
print(str2)

	 8칸 들여쓰기

In [11]:
fruits = '사과좋아요'
len(fruits)

5

In [22]:
str = "aaa.www.abc.bbc"
str.index("w",0)

4

In [23]:
#Boolean
true1 = 1
false1 = 0
bool(true1)
bool(false1)

True

In [26]:
true2 = ["a","b",1,2]
false2 = []
bool(true2)
bool(false2)

False

In [28]:
#if문
money = int(input("식사시간입니다. 현재 가지고 있는 돈은?"))

if money > 10000 and money <20000 : 
    print("짜장면이나 먹자")
elif money >= 20000 and money < 30000 :
    print("짜장면에 탕수육까지")
elif money >= 30000:
    print("짜장면+탕수육+깐풍기 Set")
else :
    print("김밥이나 먹어야지")

식사시간입니다. 현재 가지고 있는 돈은?25000
짜장면에 탕수육까지

In [29]:
#for문
list1 = ["원", "투", "차차차"]
for i in list1:
    print(i)

원
투
차차차

In [31]:
#범위가 클 경우 range함수
sum = 0
for i in range(1,1001) : 
    sum += i
print(sum)

500500

In [33]:
messages = '''
안녕하세요 %s님 방문해 주셔서 감사합니다.
행복한 여행 되세요~ '''
name = ["JYP","YG","SM"]
for x in name :
    print(messages %x)
    print('*'*40)

안녕하세요 JYP님 방문해 주셔서 감사합니다.
행복한 여행 되세요~
****************************************

안녕하세요 YG님 방문해 주셔서 감사합니다.
행복한 여행 되세요~
****************************************

안녕하세요 SM님 방문해 주셔서 감사합니다.
행복한 여행 되세요~
****************************************

In [62]:
#구구단

for i in range(2,5) :
    for j in range(1,10) :
        print(i,"x",j,"=",i*j)

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36

In [65]:
dan = int(input("출력하고 싶은 단 수를 입력하세요(숫자입력)"))
for i in range(1,10) :
    print(dan,"x",i,"=",dan*i)

출력하고 싶은 단 수를 입력하세요(숫자입력)2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18